
 <div class="container page-wrap">
   <div class="devise-view">
     <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fevkdg00fbj30il0blgm2.jpg" alt="background image">
     <div class="devise-sign-up">
       <div class="center">
         <h1>BETTER OFFER</h1>
         <div class="description">
           <h2>勇敢尝试，拥抱未来</h2>
           <p>只要你敢想，就能在这里找到梦想的工作</p>
           <h2>我们的优势</h2>
           <p>海量靠谱职位，专业的招聘团队</p>
         </div>
       </div>
     </div>
   </div>
 </div>
