<div class="footer">
       <p class="text-center">Copyright ©2017 BETTER OFFER
         <br> Designed by
         <a href="http://yanna-ma-blog.logdown.com/" target=_new>Yanna MA</a>
       </p>
</div>
