<footer class="footer">

    <div class="footer">
      <p class="text-center">Copyright ©BETTER OFFER
        <br> Designed by
          <a href="http://yanna-ma-blog.logdown.com/" target=_new>Yanna MA</a>
      </p>
  </div>
  </footer>
